<h1><%= t :team_show %></h1>
<p><%= "#{Team.human_attribute_name(:name)}: #{@team.name}"%></p>
<p><%= "#{Team.human_attribute_name(:email)}: #{@team.email}"%></p>
<p><%= "Sport: #{@team.sport.name}"%></p>
<p><%= "Liga: #{@team.league.number}. Liga"%></p>