<h1><%= t :gamedays_index %></h1>

<div class="responsive-table">
  <table class="table table-condensed table-responsive">
    <thead>
      <tr>
        <th><%= Gameday.human_attribute_name :date %>
        <th><%= Gameday.human_attribute_name :location %>
        <th><%= t :actions %>
        <th>
    <tbody>
      <% @gamedays.each do |obj| %>
        <tr>
          <td><%= obj.date %>
          <td><%= obj.location %>
          <td><%= link_to(t(:update), action: :edit, id: obj) %>
          <td><%= link_to(t(:delete), obj, method: :delete, data: { confirm: t(:delete_confirm) }) %>
      <% end %>
  </table>
</div>