<%= render partial: 'shared/filter', locals: { obj: Sport.all, label: t(:sports_filter) } %>

<%= form_tag results_create_path do %>
  <% @leagues.each do |l| %>
    <h1><%= "#{l.number}. Liga" %></h1>
    <% l.games.join_gamedays.each do |obj| %>
      <div class="well well-sm">
        <div class="row">
          <div class="col-xs-12 col-md-6"><strong><%= "#{obj.team_1.name} : #{obj.team_2.name}" %></strong></div>
          <div class="col-xs-12 col-md-6">
            <%= render partial: 'form', locals: { game: obj } %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= hidden_field :sport, :id, value: request[:filter] %>
  <%= submit_tag t(:submit), class: "btn btn-primary" %>
<% end %>