<%= render partial: 'shared/filter', locals: { obj: Sport.all, label: t(:sports_filter) } %>

<%= form_tag results_create_path do %>
  <% @leagues.each do |l| %>
    <h1>
      <%= "#{l.number}. Liga" %>
      <%= submit_tag t(:submit), class: "btn btn-primary" %>
    </h1>
    <% l.games.join_gamedays.each do |obj| %>
      <div class="well well-sm">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= l obj.gameday.date, format: :short %>:
            <% if obj.team_is_winner?(obj.team_1_id) %>
              <strong>
            <% end %>
            <%= "#{obj.team_1.name}" %>
            <% if obj.team_is_winner?(obj.team_1_id) %>
              </strong>
            <% end %>
             : 
            <% if obj.team_is_winner?(obj.team_2_id) %>
              <strong>
            <% end %>
            <%= "#{obj.team_2.name}" %>
            <% if obj.team_is_winner?(obj.team_2_id) %>
              </strong>
            <% end %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= render partial: 'form', locals: { game: obj } %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>