<%= form_tag({}, {class: "form-inline"}) do %>
  <div class="form-group">
    <h4><%= "#{t(:matchups_generate)}: " %></h4>
      <%= collection_select(:league, :id, League.where(sport_id: Sport.selected).order(:number), :id, :display_name, { }, class: "form-control" ) %>
    <%= submit_tag t(:generate), class: "btn btn-default" %>
      <%= hidden_field :sport, :id, value: request[:filter] %>
  </div>
<% end %>