<p>
  <%= render partial: 'shared/filter', locals: { obj: Sport.all, label: t(:sports_filter) } %>
</p>

<% @leagues.each do |l| %>
  <h1><%= l.number %>. Liga</h1>
  <%= form_for @game_set do |f| %>
    <% l.gamedays.each do |gd| %>
      <h4><%= "#{gd.date} #{gd.location}" %></h4>
      <%= link_to 'Add Game', '#', class: 'addgame', data: { id: gd.id } %>
      <div class="game-set" id="<%= gd.id %>">
        <%= f.fields_for :games, f.object.games.where(gameday_id: gd.id) do |game| %>
          <div class="form-group form-inline">
            <%= game.text_field :team_1_number, class: 'form-control', name: 'game_set[games_attributes][][team_1_number]' %>
            <span> : </span>
            <%= game.text_field :team_2_number, class: 'form-control', name: 'game_set[games_attributes][][team_2_number]' %>
            <%= link_to(t(:delete), game.object, method: :delete, data: { confirm: t(:delete_confirm) }) %>
            <%= game.hidden_field :gameday_id, name: 'game_set[games_attributes][][gameday_id]' %>
            <%= game.hidden_field :id, name: 'game_set[games_attributes][][id]' %>
          </div> 
        <% end %>
      </div>
    <% end %>
    <%= submit_tag(t(:submit), class: 'btn btn-primary') %>
  <% end %>
<% end %>