<!DOCTYPE html>
<head>
  <%= render 'layouts/meta_tags' %>
  <%= stylesheet_link_tag  'http://www.gltv.ch/Portals/_default/Skins/gltv/assets/winadmin.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= yield %>
</body>